@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sue+Ellen+Francisco&family=UnifrakturMaguntia&display=swap');
:root{
  --color-1: #F7F7F7;
  --color-2: #323643;
  --color-3: #606470;
}




body {
    color:white;
       
background-color: var(--color-2);
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    color: var(--color-1);
    text-align: center;
}

p {
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--color-1);
    text-align: center;
}

.spooder {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hp {
    color: var(--color-1);
    text-align: center;
}

#hh {
    text-align: center;
}

nav {
    background-color: red;
    padding: 10px;
    border-radius: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    height: 30px;
}
nav div{
    
    flex: 1; 
    text-align: center;
}

.center {
    text-align: center;
}

.flt {
   display: flex;
   justify-content: space-around;
}